# IDE Ignores
# -------------------------------------
.idea

# OS Ignores
# -------------------------------------
.DS_Store

# Dependencies
# -------------------------------------
node_modules
patternlab/vendor

# Logs
# -------------------------------------
content/debug.log

# Vagrant
# -------------------------------------
.vagrant
